<p>
    <mat-toolbar color="primary">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <span>Book Store</span>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-button routerLink="books">All books</button>
        <span class="spacer"></span>
        <button mat-button routerLink="auth/login">Login</button>
        <button mat-button routerLink="auth/signup">Sign up</button>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
    </mat-toolbar>
</p>