.book-card {
    max-width: 350px;
    margin: 5px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container>* {
    flex: 1 1 350px;
}