<div class="container">
    <mat-card class="book-card" *ngFor="let book of books">
        <mat-card-header>
            <mat-card-title>{{book.title | titlecase
                }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                {{book.author}}
            </p>
            <p> totalPages: {{book.totalPages}}</p>
            <p>
                Price: {{book.price.value + ' '+ book.price.currency}}
            </p>
            <p>
                Is book published: {{book.isPublished | boolformat}}
            </p>
            <p>
                Published on: {{book.publishedOn | date}}
            </p>
            <p>
                Authors:
                <span *ngFor="let author of book.authors">
                    {{author.fullName}},
                    ({{author.address}})
                </span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Details</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>