<!-- <div class="container-fluid shadow-sm">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div> -->
<p>
  <mat-toolbar color="primary">
    <span>My Application</span>
  </mat-toolbar>
</p>
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button>Primary</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div>
  <a routerLink="/about-us">About us</a>
  <a routerLink="/how-it-works">How it works</a>
  <a routerLink="/auth/login" [queryParams]="{ name: 'nitish', email: email }">Login</a>
  <a routerLink="/public/all-books">All books</a>
  <a [routerLink]="['/public/book-details', '1', 'author', '3']">Details from App</a>
</div>
<router-outlet></router-outlet>