<h2>Add new Book using Reactive</h2>
<form class="add-book-form" (ngSubmit)="saveBook()" [formGroup]="addBookForm">
    <mat-radio-group aria-label="Select an option" class="toggle" formControlName="formatType">
        <mat-radio-button value="pdf">PDF</mat-radio-button>
        <mat-radio-button value="doc">Doc</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
        <mat-label>Doc Format</mat-label>
        <input matInput name="docFormat" placeholder="DocFormat" formControlName="docFormat">
        <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pdf Format</mat-label>
        <input matInput name="pdfFormat" placeholder="PdfFormat" formControlName="pdfFormat">
        <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput name="title" placeholder="Title" formControlName="title">
        <mat-icon matSuffix>title</mat-icon>
        <mat-hint> {{titleErrorMessage}} </mat-hint>
    </mat-form-field>
    <div formArrayName="authors">
        <div *ngFor="let auth of authors.controls; let i=index;">
            <mat-form-field appearance="fill" [formGroupName]="i">
                <mat-label>Author</mat-label>
                <input matInput name="author" placeholder="Author fullName" formControlName="fullName">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroupName]="i">
                <mat-label>Address</mat-label>
                <input matInput name="address" placeholder="Author address" formControlName="address">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <button mat-button (click)="removeAuthor(i)">Remove</button>
        </div>
        <button (click)="addMoreAuthor()" mat-button>Add more</button>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>No of Pages</mat-label>
        <input matInput type="number" name="pages" placeholder="Pages" formControlName="totalPages">
        <mat-icon matSuffix>123</mat-icon>
    </mat-form-field>
    <div class="price-container" formGroupName="price">
        <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select name="currency" placeholder="Currency" formControlName="currency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                    {{currency.viewValue}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <mat-select name="price" placeholder="Price" formControlName="value">
                <mat-option *ngFor="let price of prices" [value]="price.value">
                    {{price.viewValue}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="publishedOn" formControlName="publishedOn">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle class="toggle" name="isPublished" formControlName="isPublished">Is book published
    </mat-slide-toggle>

    <button type="submit" [disabled]="addBookForm.invalid" mat-raised-button color="primary"> Save</button>
</form>